.search-jobs {
    padding-top: 110px;
}

.search-jobs .form input, label {
    text-align: left;
    display:block;
}

.search-jobs .title-job-description, .search-jobs .title-location,  .search-jobs  .title-full-time {
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-jobs .form input {
    float: left;
    margin: 0 10px;
}

.search-jobs .form {
    font-family: Patua One;
    font-size: 20px;
    color: #2b337e;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.search-jobs .form label {
    display: inline-block;
    padding-left: 10px;
}

.search-jobs .form .title-full-time {
    font-size: 15px;
}

.search-jobs .form .title-full-time label {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.search-jobs .form input[type="text"] {
    outline: none;
    padding: 5px;
}

.bt-search, .botao {
    background-color: #2b337e;
    color: #fff;
    font-family: Patua One;
    padding: 5px 25px;
    border-radius: 10px;
    float: right;
    font-size: 21px;
    width: max-content;
    cursor: pointer;
    transition: .2s ease all;
    border: 0;
    outline: none;
    margin-left: 10px;
}


.botao {
    float: none;
    margin: 10px 0 100px;
    width: auto !important;
}

.bt-search:hover, .botao:hover {
    background-color: #182257;
}